*{
	margin: 0;
	padding: 0;
}
body, html{
	width: 100%;
	height: 100%;
}

.head {
    text-align: center;
    padding-top: 2em;
}

.head img{
   width: 180px;
   height: 180px; 
   margin-bottom: 5px;
}

.content{
	margin: auto;
	height: 100%;
}

.title{
	margin-bottom: 15px;
    
	font-family: sans-serif;
	font-weight: bold;
	color: #364F97;
	font-size: 18px;
}

.button1, .button2{
	width: 40%;
	margin-right: 30%;
	margin-left: 30%;
	height: 3em;
	line-height: 3em;
	text-align: center;
	background: #597EED;
	border-top-left-radius: 8px;
	box-shadow: 3px 3px #364F97;
}

.button2{
	border-top-left-radius: 0px;
	border-top: 1px solid #7595F5;
	border-bottom-right-radius: 8px;
}

.button1 a, .button2 a{
	text-decoration: none;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #000;

}

.button1:hover, .button2:hover{
	background: #A5BAFA;

}

.input1, .input2, .input3{
	width: 40%;
	margin-right: 30%;
	margin-left: 30%;
	height: 3em;
	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	border: 1px solid #B1B5C4;
	border-bottom: 0;
	border-top-left-radius: 8px;
	padding-left: 10px;
    text-align: center;

}

.input2{
	border-top: 1px solid #B1B5C4;
	margin-bottom: 20px;
	border-top-left-radius: 0px;
	border-bottom: 1px solid #B1B5C4;
	border-bottom-right-radius: 8px;
}

.input3{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.loader {
    background-image: url('/css/img/ajax-loader.gif');
    background-repeat:no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    display: none;
}

.white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 22%;
        padding: 10px;
        border: 2px solid #181818;
        border-radius: 10px;
        background-color: white;
        z-index:1002;
        overflow: auto;
}


.Error{
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
}
@media(max-width: 750px){
	.input1, .input2, .button1, .button2{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
    
    .white_content {
        height: 40%;
    
    }

    .Error{
       font-size: 14px; 
    }
}